PORT=5000
SUPABASE_URL=your-supabase-url
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
CORS_ORIGIN=*

RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=onboarding@resend.dev

AUTH_EMAIL_REDIRECT_URL=http://localhost:8081/login?verified=1

SEED_SELLER_ID=your-supabase-user-id
SEED_BUYER_ID=your-supabase-user-id
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@doz2gxoi3
